/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}





.App {
  text-align: left;
  /* margin-left: 40px; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
  width: 98%;
  height: 70px;
  padding: 20px;
  color: rgb(94, 94, 94);
  margin-bottom: 20px;
  font-family: 'Leckerli One', cursive;
  border-bottom: 1px solid rgb(188, 188, 188);
  
}
h1{
  font-size: 2.5rem;
}
.line1{
  width: 0.2px;
  height: 30px;
  border: 1px solid rgb(30, 17, 118);
  margin: 0 20px;
}
.mainLogo i {
  font-size: 40px;
}
.mainLogo{
  display: flex;
  align-items: center;
  margin-top: 10px;
  
}
.socialIcon{
  float: right;
  font-size: 20px;
  display: flex;
  
}
.socialIcon i{
  float: right;
  font-size: 30px;
  padding: 0 10px;
  margin-top: -30px;
  
}

.App-title {
  
	/* position: absolute; */
	left: 60px;
}

.SearchBar {
	position: absolute;
	display: inline;
	margin-top: -35px;
}

.SearchBar input {
	height: 40px;
	width: 190px;
  text-align: center;
  border-radius: 10px;
  border: none;
  border: 1px solid rgb(184, 184, 184);
}

.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
