.CommentSection {
    margin-top: 2px;
    width: 100%;
}

.CommentSection__comment-username {
    display: inline;
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
    
}

.CommentSection__comment-body {
	display: inline;
	padding-left: 10px;
}

.CommentSection__add input {
  margin-top: 30px;
  border: none;
  border-top: 0.5px solid grey;
  width: 100%;
  padding: 10px 0;
}