.PostContainer {
	border: 0.5px solid rgb(208, 208, 208);
	max-width: 600px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.PostContainer__header {
	width: 100%;
	position: relative;
	height: 60px;
}

.PostContainer__header img {
	display: inline-block;
	height: 30px;
	border-radius: 50%;
	padding: 15px;
}

.PostContainer__header h3 {
	position: absolute;
	display: inline;
    margin-top: 20px;
    
}

.PostContainer__image {
	width: 100%;
}

.PostContainer__image img {
	background-size: contain;
	width: 100%;
}

.PostContainer__body {
	margin: 15px;
}

.PostContainer__likes {
	display: inline;
}

.PostContainer__timestamp {
	margin: 10px 0 10px 0;
}


.newIcons{
    padding: 10px 5px;
}
.newIcons i {
    font-size: 20px;
    padding: 0 10px;
    color: rgb(164, 164, 164);
}